.current-user{
  list-style: none;
}
.current-user a.current-first {
  color:white;
}
.nun-link{
  color:rgb(223, 247, 14) !important ;
  font-family:Garamond(serif) ;
  font-weight: 800 !important;
  
  }
  .card-price{
    font-weight: 200 !important;
  }

  .butn-clr{
    color: rgb(124, 29, 6);
    font-weight: 400 !important ;
    
    
  }
  .srcbtn{
    color:rgb(223, 247, 14);
    width: 50%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box !important ;

  }
  .login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
  }
  .login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
  }
  .login-form input[type="password"],
  .login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
  }
.login-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}
.cart-container .cart-qty {
  width:70px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(7, 7, 7);
  color: white;
  text-align: center;
}
  /* body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .CartContainer{
    width: 70%;
    height: 90%;
    background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 0px 10px 20px #1687d933;
  }
  
  .Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Heading{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #2F3841;
  }
  
  .Action{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
  }
  
  .Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image-box{
    width: 15%;
    text-align: center;
  }
  .about{
    height: 100%;
    width: 24%;
  }
  .title{
    padding-top: 10px;
    line-height: 10px;
    font-size: 32px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
  }
  .subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #909090;
  }
  
  .counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
    cursor: pointer;
  }
  .count{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
  }
  
  .prices{
    height: 100%;
    text-align: right;
  }
  .amount{
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
  }
  .save{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
  }
  .remove{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
  }
  
  .pad{
    margin-top: 5px;
  }
  
  hr{
    width: 66%;
    float: right;
    margin-right: 5%;
  }
  .checkout{
    float: right;
    margin-right: 5%;
    width: 28%;
  }
  .total{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .Subtotal{
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #202020;
  }
  .items{
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #909090;
    line-height: 10px;
  }
  .total-amount{
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
  }
  .button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
  } */