.current-user{
  list-style: none;
}
.current-user a.current-first {
  color:white;
}
.nun-link{
  color:red !important ;
  font-weight: 400 !important;
  
  }
  .card-price{
    font-weight: 200 !important;
  }
