{% extends "layout.html" %}
{% block content %}
<h1>{{title}}</h1>
    {% set open_count = 0 %}

{% for p in products %}
        {% set open_count = open_count+1 %}

    {% if open_count == 4  or loop.index == 1%}
    <!-- row open-->
        <div class="row" style="margin-bottom: 20px;">
        {% if loop.index != 1  %}
            {% set open_count = 1 %}
        {% endif %}
       

    {% endif %}  

     
        <div class="col-md-4">
       
            <div class="card" style="padding:2%;">
                <img style="width:300px; height:300px;" src="{{p.images[0].product_images_path}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{loop.index}} {{p.products_title.slice(0, 25)}}...</h5>
                <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        {% if loop.index  % 3 == 0 or loop.last %}
            </div><!--end of .row -->
        {% endif %} 
{% endfor %}
{% endblock %}